#section_Cadastro {
    height: 100vh;
    width: 100vw;
    background-image: url(../imagens/Fundo_Principal.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_Cadastro {
    height: 80%;
    width: 80%;
}

#container_Login {
    height: 80%;
    width: 50%;
}

#container_Login, #container_Cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.555);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 2px solid black;
}

#conteudo_Cad, #conteudo_Login {
    height: 60%;
    width: 90%;
    display: flex;
}

#conteudo_Login {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#container_Login a{
    color:rgb(37, 37, 107);
}

.lados_Cad {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

input {
    height: 100%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    border: 0px;
    border-bottom: 2px solid black;
    text-align: center;
}

input:hover, select:hover, #img_luffy_Desc:hover{
    cursor: pointer;
}

h1 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10%;
}

#titulo {
    height: 20%;
    width: 100%;
}

#titulo_Cad {
    height: 100%;
    width: 57%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#input_Data_Nasc {
    height: 50%;
    width: 50%;
}

#input_Cpf {
    height: 50%;
    width: 35%;
}

.alinhamento_Lados {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.alinhamento_Login {
    flex-direction: column;
    width: 50%;
}

#alinhar_Data {
    height: 30%;
}

#mug_Fav, #img_Perfil {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

#desc_centralizar {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img_Perfil {
    width: 80%;
    height: 100%;
}

#img_luffy_Desc {
    margin-top: -10%;
    margin-left: -10%;
    height: 130%;
    transform: rotate(-15deg);
}

#img_luffy_Desc:hover {
    height: 140%;
    transform: rotate(0deg);
    transition: 0.5s;
}

#input_Senha, #input_Cpf_Login {
    height: 80%;
    width: 60%;
}

.btn_Login {
    width: 22%;
}

.btn_Login:hover {
    width: 25%;
}